<a href="https://colab.research.google.com/github/nnknishant/Pyspark_Notes/blob/main/Pyspark_DataFrame_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

from pyspark.sql.functions import col, sum, avg,when, count

In [3]:
# Create DataFrame

data = [  (1, "Alice", 23, "F", "IT", 5000),
    (2, "Bob", 30, "M", "HR", 4000),
    (3, "Charlie", 35, "M", "IT", 7000),
    (4, "David", 28, "M", "Finance", 6000),
    (5, "Eve", 25, "F", "IT", 5500),
    (6, "Frank", 45, "M", "HR", 8000),
    (7, "Grace", 50, "F", "Finance", 9000),

]

In [4]:
columns = ["ID", "Name", "Age", "Gender", "Department", "Salary"]

In [5]:
df = spark.createDataFrame(data = data, schema=columns)

In [6]:
df.show()

+---+-------+---+------+----------+------+
| ID|   Name|Age|Gender|Department|Salary|
+---+-------+---+------+----------+------+
|  1|  Alice| 23|     F|        IT|  5000|
|  2|    Bob| 30|     M|        HR|  4000|
|  3|Charlie| 35|     M|        IT|  7000|
|  4|  David| 28|     M|   Finance|  6000|
|  5|    Eve| 25|     F|        IT|  5500|
|  6|  Frank| 45|     M|        HR|  8000|
|  7|  Grace| 50|     F|   Finance|  9000|
+---+-------+---+------+----------+------+

In [7]:
# Filter by Department & Salary greater than 5000

filtered_df = df.filter((col("Department") == "IT") & (col("Salary") > 5000))

filtered_df.show()

+---+-------+---+------+----------+------+
| ID|   Name|Age|Gender|Department|Salary|
+---+-------+---+------+----------+------+
|  3|Charlie| 35|     M|        IT|  7000|
|  5|    Eve| 25|     F|        IT|  5500|
+---+-------+---+------+----------+------+

In [8]:
# Group by Department, find total salary by department

grouped_df = df.groupBy("Department")\
              .agg(sum("Salary").alias("Total_Salary"),
                   avg("Salary").alias("Avg_salary"),
                   count("ID").alias("Count_Employees"))

grouped_df.show()

+----------+------------+-----------------+---------------+
|Department|Total_Salary|       Avg_salary|Count_Employees|
+----------+------------+-----------------+---------------+
|        HR|       12000|           6000.0|              2|
|        IT|       17500|5833.333333333333|              3|
|   Finance|       15000|           7500.0|              2|
+----------+------------+-----------------+---------------+

In [9]:
# Create conditional column based on bonus

df_bonus = df.withColumn("Bonus",when(col( "Salary") > 6000,1000).otherwise(500)

)

df_bonus.show()

+---+-------+---+------+----------+------+-----+
| ID|   Name|Age|Gender|Department|Salary|Bonus|
+---+-------+---+------+----------+------+-----+
|  1|  Alice| 23|     F|        IT|  5000|  500|
|  2|    Bob| 30|     M|        HR|  4000|  500|
|  3|Charlie| 35|     M|        IT|  7000| 1000|
|  4|  David| 28|     M|   Finance|  6000|  500|
|  5|    Eve| 25|     F|        IT|  5500|  500|
|  6|  Frank| 45|     M|        HR|  8000| 1000|
|  7|  Grace| 50|     F|   Finance|  9000| 1000|
+---+-------+---+------+----------+------+-----+